/* ==========================================================================
   Table of Contents:
   1. Global Reset
   2. Color Palette
   3. Typography
   4. Breadcrumbs
   5. Layouts
   6. Buttons
   7. Forms
   8. Footer
   9. Tables
   10. Question Group Styling
   11. Rating Scale Styling
   ========================================================================== */

/* 1. Global Reset */
body, ul, input, button, textarea {
    margin: 0;
    padding: 0;
}

/* 2. Color Palette */
:root {
    --primary-red: #ed1b34;
    --secondary-blue: #236c8f;
    --neutral-gray: #555555;
    --light-gray: #ececec;
    --neutral-gray-lighter: #f7f7f7;
    --white: #ffffff;
}

/* 3. Typography */
.common-text, h1, h2, h4 {
    font-family: 'FedraSansBold', Helvetica, Arial, Lucida, sans-serif;
    font-weight: bold;
}
.common-text {
    color: var(--neutral-gray);
}
.common-heading {
    color: var(--primary-red);
}

/* 4. Breadcrumbs */
.breadcrumbs {
    font-size: 14px;
    margin-bottom: 20px;
    color: var(--light-gray);
}
.breadcrumbs a {
    text-decoration: none;
    color: var(--primary-red);
}
.breadcrumbs span {
    color: var(--neutral-gray);
}
.breadcrumbs a:hover {
    text-decoration: underline;
}

/* 5. Layouts */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f7f7f7;
}
main {
    flex: 1;
}
.large-title-layout {
    font-size: 36px;
    margin-bottom: 20px;
    color: var(--neutral-gray);
}
.section-title-layout {
    font-size: 24px;
    margin-bottom: 20px;
    color: var(--primary-red);
}
.section-layout {
    margin-top: 15px;
}
.common-list, ul {
    list-style: none;
}
.common-row {
    margin-bottom: 15px;
}
.button-row {
    display: flex;
    justify-content: space-between;
}
.flash-message {
    background-color: var(--primary-red);
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
    color: var(--light-gray);
    text-align: center;
}
.border-collect-elements {
    border: 2px solid var(--neutral-gray);
    padding: 15px;
    margin: 15px 0;
    border-radius: 10px;
}
.light-border-collect-elements {
    border: 1px solid var(--neutral-gray);
    padding: 15px;
    margin: 15px 0;
    border-radius: 10px;
}

/* 6. Buttons */
.button-primary, .button-secondary, .button-delete {
    border-radius: 4px;
    padding: 12px 24px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}
.button-primary {
    background-color: var(--light-gray);
    color: var(--primary-red);
}
.button-primary:hover {
    background-color: var(--neutral-gray);
    color: var(--light-gray);
}
.button-secondary {
    background-color: var(--secondary-blue);
    color: white;
}
.button-secondary:hover {
    background-color: var(--neutral-gray);
}
.button-delete {
    background-color: var(--primary-red);
    color: white;
}
.button-delete:hover {
    background-color: var(--neutral-gray);
}
.nav-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background-color: var(--light-gray);
    color: var(--primary-red);
    text-align: center;
    border-radius: 4px;
    text-decoration: none;
}
.nav-button:hover {
    background-color: var(--neutral-gray);
}
.icon-button {
    display: inline-block;
    color: white;
    padding: 10px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-family: "FontAwesome", sans-serif;
    font-size: 14px;
    text-align: center;
    width: 36px;
    height: 36px;
}

/* Specific styles for the update button */
.icon-button-update {
    background-color: var(--light-gray);
    color: var(--neutral-gray);
}

/* Common hover effect for the update button */
.icon-button-update:hover {
    background-color: var(--neutral-gray);
    color: var(--light-gray);
}

/* Specific styles for the duplicate button */
.icon-button-duplicate {
    background-color: var(--light-gray);
    color: var(--neutral-gray);
}
/* Common hover effect for the duplicate button */
.icon-button-duplicate:hover {
    background-color: var(--neutral-gray);
    color: var(--light-gray);
}

/* Specific styles for the delete button */
.icon-button-delete {
    background-color: var(--primary-red);
}

/* Common hover effect for the Delete button */
.icon-button-delete:hover {
    background-color: var(--neutral-gray);
    color: var(--light-gray);
}

.icon-button::before {
    display: block;
}

.icon-button-update::before {
    content: "\f040";
}

.icon-button-duplicate::before {
    content: "\f0c5";
}

.icon-button-delete::before {
    content: "\f1f8";
}

/* lock / unlock buttons question types */

.icon-button-unlock {
    background-color: var(--bs-orange);
    color: var(--light-gray);
}

.icon-button-lock {
    background-color: var(--bs-green);
    color: var(--light-gray);
}

.locked-row {
    background-color: var(--light-gray);
}

.icon-button.disabled {
    opacity: 0.5;
    pointer-events: none;
}


/* ------- */

.add-option-button {
    background-color: var(--primary-red);
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.add-question-button {
    background-color: var(--secondary-blue);
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin-top: 20px;
}
.group-buttons {
    right: 10px;
}
.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.button-secondary, .button-primary, .button-delete {
    flex: 1 1 auto;
    min-width: 120px;
    text-align: center;
}
@media (max-width: 600px) {
    .button-container {
        flex-direction: column;
    }
    .button-secondary, .button-primary, .button-delete {
        width: 100%;
        display: block;
    }
}
.options-container {
    margin-top: 10px;
    border: 1px solid var(--light-gray);
    padding: 10px;
    border-radius: 5px;
    background-color: var(--neutral-gray-lighter);
    display: flex;
    flex-direction: column;
}

.conditional-question-container {
    margin-top: 5px;
    padding-left: 20px;
    border-left: 3px solid var(--secondary-blue);
}

.conditional-question-label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

/* 7. Forms */
.input-field {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.required-field {
    border-color: var(--primary-red);
}
.focused-field {
    outline: none;
    border-color: var(--secondary-blue);
}
.input-integer {
    font-size: 16px;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 8px;
    background-color: var(--light-gray);
}
.input-integer:focus {
    box-shadow: 0 0 0 2px var(--primary-red);
    outline: none;
}

/* 8. Footer */
footer {
    flex-shrink: 0;
    background-color: var(--light-gray);
    text-align: center;
    padding: 15px;
}

/* 9. Tables */
.table-responsive {
    overflow-x: auto;
}
.table-layout {
    width: 100%;
    min-width: 600px;
    border-collapse: collapse;
    margin-top: 20px;
    table-layout: fixed;
}
.table-layout th,
.table-layout td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
.table-layout th {
    background-color: var(--light-gray);
    color: var(--neutral-gray);
}
.table-layout tr:hover {
    background-color: #f2f2f2;
}
.btn-group {
    display: flex;
    gap: 10px;
}
.nav-button, .icon-button-delete {
    margin: 2px;
    white-space: nowrap;
}
@media screen and (max-width: 600px) {
    .nav-button, .icon-button-delete {
        flex-basis: 100%;
        margin-bottom: 5px;
    }
}
.table-layout th a {
    margin-left: 5px;
    color: var(--primary-red);
    text-decoration: none;
}
.table-layout th a:hover {
    text-decoration: underline;
}

/* 10. Question Group Styling */
.question-group {
    border: 1px solid var(--light-gray);
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: var(--neutral-gray-lighter);
    border-left: 4px solid var(--neutral-gray);
}

.option {
    margin-bottom: 10px;
}

.individual-question {
    border: 1px solid var(--light-gray);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: var(--white);
    border-left: 4px solid var(--primary-red);
}
.options-container, .rating-scale-container, .conditional-questions {
    margin-left: 20px;
}
.option-list {
    padding-left: 20px;
}
.individual-conditional-question {
    border: 1px dashed var(--light-gray);
    padding: 5px;
    margin-top: 5px;
    border-radius: 5px;
    background-color: var(--neutral-gray-lighter);
    border-left: 4px solid var(--neutral-gray);
}

/* 11. Rating Scale Styling */
.rating-scale {
    margin: 20px 0;
    width: 100%;
    position: relative;
}
.rating-scale input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    background: var(--light-gray);
    outline: none;
    border-radius: 5px;
    transition: background 0.3s ease;
}
.rating-scale input[type=range]::-webkit-slider-runnable-track {
    height: 15px;
    border-radius: 5px;
}
.rating-scale input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: var(--primary-red);
    cursor: pointer;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 2;
}
.rating-scale input[type=range]::-moz-range-track {
    height: 15px;
    border-radius: 5px;
}
.rating-scale input[type=range]::-moz-range-thumb {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background: var(--primary-red);
    cursor: pointer;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}
.rating-scale .scale-labels {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: calc(100% - 25px);
    left: 10px;
    right: 10px;
}
.rating-scale .label {
    position: absolute;
    display: block;
    text-align: center;
    font-size: 0.8em;
    color: var(--neutral-gray);
    transform: translateX(-50%);
}

