{% extends "layout.html" %}

{% block title %}
  Update Survey
{% endblock %}

{% block content %}
    <!-- Breadcrumbs -->
    <nav class="breadcrumbs">
        <a href="/">Home</a> <span>&gt;</span>
        <a href="/survey_list">Surveys</a> <span>&gt;</span>
        <span>Update</span>
    </nav>

    <div class="container">
        <h1 class="large-title-layout">Update Survey</h1>

        <!-- Display Flash Messages -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flash-messages">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        <form action="/survey_update/{{ survey.id }}" method="POST" id="survey-form">
            <!-- Survey Metadata -->
            <div class="input-field-group, border-collect-elements">
                <div class="input-field">
                    <label for="survey_title">Survey Title:</label>
                    <input type="text" id="survey_title" name="survey_title" class="input-field" required value="{{ survey.survey_title }}">
                </div>
                <div class="input-field">
                    <label for="survey_description">Survey Description:</label>
                    <textarea id="survey_description" name="survey_description" class="input-field" required>{{ survey.survey_description }}</textarea>
                </div>
                <div class="input-field">
                    <label for="welcome_message">Welcome Message:</label>
                    <input type="text" id="welcome_message" name="welcome_message" class="input-field" value="{{ survey.welcome_message }}">
                </div>
                <div class="input-field">
                    <label for="exit_message">Exit Message:</label>
                    <input type="text" id="exit_message" name="exit_message" class="input-field" value="{{ survey.exit_message }}">
                </div>
            </div>

            <!-- Question Groups -->
            <div id="question-groups" class="question-groups">
                <!-- Existing question groups will be dynamically loaded here -->
                {% for group in survey.question_groups %}
                    <div class="border-collect-elements" id="group_{{ group.id }}">
                        <div class="input-field">
                            <label for="group_{{ group.id }}_title">Group Title:</label>
                            <input type="text" id="group_{{ group.id }}_title" name="group_{{ group.id }}_title" class="input-field" value="{{ group.group_name }}" required>
                        </div>
                        <div class="input-field">
                            <label for="group_{{ group.id }}_description">Group Description:</label>
                            <textarea id="group_{{ group.id }}_description" name="group_{{ group.id }}_description" class="input-field" required>{{ group.group_description }}</textarea>
                        </div>
                        <!-- Display Questions in this Group -->
                        {% for question in group.questions %}
                            <div class="light-border-collect-elements">
                                <label for="group_{{ group.id }}_question_{{ question.id }}_text">Question Text:</label>
                                <input type="text" id="group_{{ group.id }}_question_{{ question.id }}_text" name="group_{{ group.id }}_question_{{ question.id }}_text" class="input-field" required value="{{ question.question_text }}">
                                <label for="group_{{ group.id }}_question_{{ question.id }}_type">Question Type:</label>
                                <select id="group_{{ group.id }}_question_{{ question.id }}_type" name="group_{{ group.id }}_question_{{ question.id }}_type" class="dropdown-select" required>
                                    <option value="open-ended" {% if question.question_type_id == 1 %}selected{% endif %}>Open-ended</option>
                                    <option value="multiple-choice" {% if question.question_type_id == 2 %}selected{% endif %}>Multiple Choice</option>
                                    <option value="rating-scale" {% if question.question_type_id == 3 %}selected{% endif %}>Rating Scale</option>
                                </select>
                                <!-- Display data based on question type -->
                                {% if question.question_type_id == 2 %}
                                    <!-- Multiple Choice Options -->
                                    <label>Multiple Choice Options:</label>
                                    <ul id="options_list_{{ question.id }}">
                                        {% for option in question.question_options %}
                                            <li>
                                                <input type="text" name="option_{{ option.id }}" value="{{ option.option_text }}">
                                                <button type="button" class="button-delete" onclick="deleteOption({{ option.id }})">Delete Option</button>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                    <button type="button" class="button-primary" onclick="addOption({{ question.id }})">Add Option</button>
                                {% elif question.question_type_id == 3 %}
                                    <!-- Rating Scale Data -->
                                    <div class="input-field" id="group_{{ group.id }}_question_{{ question.id }}_rating_scale_elements">
                                        <label for="rating_scale_min_{{ question.id }}">Min Value:</label>
                                        <input type="number" id="rating_scale_min_{{ question.id }}" name="rating_scale_min_{{ question.id }}" value="{{ question.rating_scale.min_value }}">
                                    </div>
                                    <div class="input-field" id="group_{{ group.id }}_question_{{ question.id }}_rating_scale_elements">
                                        <label for="rating_scale_max_{{ question.id }}">Max Value:</label>
                                        <input type="number" id="rating_scale_max_{{ question.id }}" name="rating_scale_max_{{ question.id }}" value="{{ question.rating_scale.max_value }}">
                                    </div>
                                    <div class="input-field" id="group_{{ group.id }}_question_{{ question.id }}_rating_scale_elements">
                                        <label for="rating_scale_step_{{ question.id }}">Step:</label>
                                        <input type="number" id="rating_scale_step_{{ question.id }}" name="rating_scale_step_{{ question.id }}" value="{{ question.rating_scale.step }}">
                                    </div>
                                {% endif %}
                                <!-- Delete Question Button -->
                                <button type="button" class="button-delete" onclick="deleteQuestion({{ question.id }})">Delete Question</button>
                            </div>
                        {% endfor %}
                        <!-- Add new questions to this group -->
                        <button type="button" class="button-primary" id="add_question_to_group_{{ group.id }}">Add Question</button>
                        <!-- Delete Group Button -->
                        <button type="button" class="button-delete" onclick="deleteGroup({{ group.id }})">Delete Group</button>
                    </div>
                {% endfor %}
            </div>


            <!-- Add new groups -->
            <button type="button" class="button-primary" id="add_group">Add Question Group</button>

            <!-- Submit Button -->
            <div class="button-group">
                <button type="submit" class="button-primary">Save Survey</button>
            </div>
        </form>

        <script>
            // Function to handle question type change
            function handleQuestionTypeChange(group_id, question_id) {
                const questionTypeSelect = document.querySelector(`#group_${group_id}_question_${question_id}_type`);
                const selectedOption = questionTypeSelect.options[questionTypeSelect.selectedIndex].value;

                // Get the elements related to rating scale and multiple choice
                const ratingScaleElements = document.querySelector(`#group_${group_id}_question_${question_id}_rating_scale_elements`);
                const multipleChoiceOptions = document.querySelector(`#group_${group_id}_question_${question_id}_multiple_choice_options`);

                if (selectedOption === 'rating-scale') {
                    // Show the rating scale elements and hide multiple choice options
                    ratingScaleElements.style.display = 'block';
                    multipleChoiceOptions.style.display = 'none';

                    // Add event listeners for rating scale criteria
                    const minValueInput = document.querySelector(`#rating_scale_min_${question_id}`);
                    const maxValueInput = document.querySelector(`#rating_scale_max_${question_id}`);
                    const stepInput = document.querySelector(`#rating_scale_step_${question_id}`);

                    [minValueInput, maxValueInput, stepInput].forEach(input => {
                        input.addEventListener("input", () => {
                            const inputValue = input.value;
                            if (isNaN(parseFloat(inputValue)) || !isFinite(inputValue)) {
                                alert("Please enter only numbers");
                                input.value = "";
                            }
                        });
                    });

                    // Ensure minValue < maxValue
                    minValueInput.addEventListener("change", function() {
                        if (parseInt(minValueInput.value) >= parseInt(maxValueInput.value)) {
                            alert("Minimum value should be less than Maximum value");
                            minValueInput.value = "";
                        }
                    });

                    maxValueInput.addEventListener("change", function() {
                        if (parseInt(maxValueInput.value) <= parseInt(minValueInput.value)) {
                            alert("Maximum value should be greater than Minimum value");
                            maxValueInput.value = "";
                        }
                    });

                    // Ensure the distance between minValue and maxValue is divisible by step
                    stepInput.addEventListener("change", function() {
                        const minValue = parseInt(minValueInput.value);
                        const maxValue = parseInt(maxValueInput.value);
                        const step = parseInt(stepInput.value);

                        if (step <= 0) {
                            alert("Step value should be greater than zero");
                            stepInput.value = "";
                            return;
                        }

                        const distance = maxValue - minValue;

                        if (distance % step !== 0) {
                            alert("The distance between Minimum and Maximum value should be divisible by Step");
                            stepInput.value = "";
                        }
                    });
                } else if (selectedOption === 'multiple-choice') {
                    // Show multiple choice options and hide the rating scale elements
                    multipleChoiceOptions.style.display = 'block';
                    ratingScaleElements.style.display = 'none';
                } else {
                    // Hide both rating scale elements and multiple choice options
                    ratingScaleElements.style.display = 'none';
                    multipleChoiceOptions.style.display = 'none';
                }
            }

            // Function to add new question to a group
            function addQuestionToGroup(group_id) {
                console.log(`Adding question to group ${group_id}`);

                const groupDiv = document.querySelector(`#group_${group_id}`);
                const questionCount = groupDiv.querySelectorAll('.light-border-collect-elements').length + 1;

                // Generate a unique question ID based on group ID and sequence number
                const question_id = `group_${group_id}_question_${questionCount}`;

                const questionDiv = document.createElement("div");
                questionDiv.className = "light-border-collect-elements";
                questionDiv.innerHTML = `
                    <label for="${question_id}_text">Question Text:</label>
                    <input type="text" id="${question_id}_text" name="${question_id}_text" class="input-field" required>
                    <label for="${question_id}_type">Question Type:</label>
                    <select id="${question_id}_type" name="${question_id}_type" class="dropdown-select" required onchange="handleQuestionTypeChange(${group_id}, '${question_id}')">
                        <option value="open-ended">Open-ended</option>
                        <option value="multiple-choice">Multiple Choice</option>
                        <option value="rating-scale">Rating Scale</option>
                    </select>
                    <!-- Delete Question Button -->
                    <button type="button" class="button-delete" onclick="deleteQuestion('${question_id}')">Delete Question</button>
                    <!-- Multiple Choice Options -->
                    <div id="${question_id}_multiple_choice_options" style="display: none;">
                        <label>Multiple Choice Options:</label>
                        <ul id="${question_id}_options_list">
                            <!-- Option items will be dynamically added here -->
                        </ul>
                        <button type="button" class="button-primary" onclick="addOption('${question_id}')">Add Option</button>
                    </div>
                    <!-- Rating Scale Data -->
                    <div id="${question_id}_rating_scale_elements" style="display: none;">
                        <div class="input-field">
                            <label for="${question_id}_min_value">Min Value:</label>
                            <input type="number" id="${question_id}_min_value" name="${question_id}_min_value">
                        </div>
                        <div class="input-field">
                            <label for="${question_id}_max_value">Max Value:</label>
                            <input type="number" id="${question_id}_max_value" name="${question_id}_max_value">
                        </div>
                        <div class="input-field">
                            <label for="${question_id}_step">Step:</label>
                            <input type="number" id="${question_id}_step" name="${question_id}_step">
                        </div>
                    </div>
                `;

                groupDiv.appendChild(questionDiv);
            }

        // Function to delete a question within a group
        function deleteQuestion(group_id, questionCount) {
            const questionDiv = document.querySelector(`#group_${group_id}_question_${questionCount}`);
            questionDiv.remove();
        }

        // Function to add new option to a multiple-choice question
        function addOption(questionCount) {
            // Example code for adding option to the DOM
            const optionDiv = document.createElement("li");
            optionDiv.innerHTML = `
                <input type="text" name="group_${group_id}_question_${question_id}_options" value="">
                <button type="button" class="button-delete" onclick="deleteOption(null, this)">Delete Option</button>
            `;

            // Append to the options list
            const optionsList = document.querySelector(`#options_list_${questionCount}`);
            optionsList.appendChild(optionDiv);
        }

        // Function to delete an option from a multiple-choice question
        function deleteOption(option_id, button) {
            // Remove the parent li element (the entire option row) from the DOM
            const optionDiv = button.parentElement;
            optionDiv.remove();

            // If it's a pre-existing option, mark it for deletion on the server
            if (option_id) {
                const deletedOptionsInput = document.querySelector(`#deleted_options`);
                const deletedOptionIdInput = document.createElement("input");
                deletedOptionIdInput.type = "hidden";
                deletedOptionIdInput.name = "deleted_option_ids";
                deletedOptionIdInput.value = option_id;
                deletedOptionsInput.appendChild(deletedOptionIdInput);
            }
        }

        // Function to handle click events on "Delete Option" buttons
        function handleDeleteOptionClick(event) {
            const button = event.target;
            if (button.classList.contains("button-delete")) {
                const option_id = button.getAttribute("data-option-id");
                deleteOption(option_id, button);
            }
        }

        // Attach event listener to the container of "Delete Option" buttons
        document.querySelector("#question-groups").addEventListener("click", handleDeleteOptionClick);

        // Function to delete a question group
        function deleteGroup(group_id) {
            const groupDiv = document.querySelector(`#group_${group_id}`);
            groupDiv.remove();
        }

    // Function to add a new question group
    function addQuestionGroup() {
        const questionGroupsDiv = document.getElementById("question-groups");
        const groupCount = questionGroupsDiv.querySelectorAll('.border-collect-elements').length + 1;

        const groupDiv = document.createElement("div");
        groupDiv.className = "border-collect-elements";
        groupDiv.id = `group_${groupCount}`;
        groupDiv.innerHTML = `
            <div class="input-field">
                <label for="group_${groupCount}_title">Group Title:</label>
                <input type="text" id="group_${groupCount}_title" name="new_group_name" class="input-field" required>
            </div>
            <div class="input-field">
                <label for="group_${groupCount}_description">Group Description:</label>
                <textarea id="group_${groupCount}_description" name="new_group_description" class="input-field" required></textarea>
            </div>

            <div class="group-buttons">
            <!-- Add new questions to this group -->
                <button type="button" class="button-primary" id="add_question_to_group_${groupCount}">Add Question</button>
            <!-- Delete Group Button -->
                <button type="button" class="button-delete" onclick="deleteGroup(${groupCount})">Delete Group</button>
            </div>
        `;

        questionGroupsDiv.appendChild(groupDiv);

        // Attach event listener to the "Add Question" button for the newly added group
        const addButton = document.querySelector(`#add_question_to_group_${groupCount}`);
        addButton.addEventListener('click', () => addQuestionToGroup(groupCount));

        // Attach event listener to the "Delete Group" button for the newly added group
        const deleteGroupButton = groupDiv.querySelector(`.button-delete`);
        deleteGroupButton.addEventListener('click', () => deleteGroup(groupCount));
    }

        // Attach event listeners to add buttons
        document.querySelector('#add_group').addEventListener('click', addQuestionGroup);

        // Attach event listeners to dynamically added add question buttons
        const addQuestionButtons = document.querySelectorAll('[id^="add_question_to_group_"]');
        addQuestionButtons.forEach(button => {
            const group_id = button.id.replace('add_question_to_group_', '');
            button.addEventListener('click', () => addQuestionToGroup(group_id));
        });
    </script>

    </div>
{% endblock %}
